@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
html, body
{
	margin: 0;
  	padding: 0;
  	height: 100%;
  	font-family: Comfortaa, sans-serif;
  	font-style: normal;
  	font-weight: normal;
  	font-size: 23px;
}
.signin
{
    color:#C74E48;
    
    position: absolute;
	width: 142px;
	height: 24px;
	left: 97px;
	top: 32px;
	text-decoration: none;
    line-height: 40px;
	display: flex;
	align-items: center;
	letter-spacing: -0.015em;

}
.register
{
    text-decoration: none;
	line-height: 40px;
	display: flex;
	align-items: center;
	letter-spacing: -0.015em;

	color: #000000;
	position: absolute;
	width: 142px;
	height: 30px;
	left: 437px;
	top: 28px;
}
.welcome
{
    position: absolute;
	width: 411px;
	height: 82px;
	left: 237px;
	top: 120px;
	line-height: 30px;
	display: flex;
	align-items: center;
	letter-spacing: -0.015em;
	color: #000000;
}
.Prntrsc
{
	position: absolute;
	width: 376px;
	height: 66px;
	left: 187px;
	top: 177px;
	line-height: 47px;
	display: flex;
	align-items: center;
	letter-spacing: -0.015em;
    color:#C74E48;
    font-size: 38px;
}
.stuff
{
    margin-left: 300px;
    margin-top:0px;
    position: relative;
}

img
{
  	padding: 0;
    display: grid;
    position: absolute;
    margin-left: 50%;
    margin-bottom: 0;
    margin-right: auto;
    height: 700px;
    top: 60px;
    right: 20px;
    max-width: 70%;
}
.inp-s-mail
{
	background-color: #FBF6F6;;
  	padding: 15px 40px 10px;
  	position: absolute;
	left: 15%;
	top: 287px;
	border-style: none; 
	font-size: 17px;
}

.inp-s-pass{
  	background-color: #FBF6F6;;
  	padding: 15px 40px 10px;
  	position: absolute;
	left: 15%;
	top: 372px;
	border-style: none; /* To get rid of default border line */
	font-size: 17px;
}

#forgot
{
  position: absolute;
  top: 428px;
  left: 16%;
  text-decoration: none;
  color: #3697CD;
  font-size: 13px;
}

.sign-in
{
  	background: #C74E48;
	border-radius: 10px;
	position: absolute;
	width: 165px;
	height: 47px;
	left: 262px;
	top: 520px;
	border-style: none;
	color: white;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: normal;
	cursor: pointer;
}
.sign-up{
  	position: absolute;
  	top: 580px;
  	left: 272px;
  	text-decoration: none;
  	color: #3697CD;
  	font-size: 13px;
  	font-family: Comfortaa;
}
.mappy{
    margin-left: 350px;
    margin-top: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin:none ;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: teal;
  }
  .header{
      margin-left: 600px;
      color:red;
  }
  .vendorlist{
      background-color: green;
  }
  .texty{
      margin-left: 590px;
  }
  .texty2{
    margin-left: 590px;

  }
  .Butty2{
    margin-left: 610px;
  }